/* Instaclone CSS */

/* header */
#header {position: fixed; top:0;left: 0; width: 100%; height: 55px; background: rgb(255, 255, 255); z-index: 1000; border-bottom: 1px solid rgb(202, 197, 197);}
#header div.topCover {position: fixed; width: 1200px; margin: 0 auto;}
#header div.topCover p {float:left; padding:0 12px; text-align:center;}
#header div.topCover a:hover {color: rgb(255, 255, 255);}

.spc {display: block;float: left; top: 0; width: 100px; height: 55px; background: rgb(255, 255, 255); }
.logo img{display: fixed; width: 105px; height: 32px; margin-left: 60px;}

.small-icon {
    display: flex;
    padding: 17px 40px;
}
.small-icon img {
    width: 22px;
    height: 22px;
    padding: 0 10px;
}

.Input {
    margin-left: 205px;
    width: 250px;
    height: 12px;
    padding: 7px;
    box-sizing: content-box;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-image: url("https://w7.pngwing.com/pngs/242/281/png-transparent-computer-icons-magnifier-symbol-magnifying-glass-magnifying-miscellaneous-logo-zooming-user-interface-thumbnail.png");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 5% center;
    font-size: 14px;
}
.Input:focus {
    background-position: -20% center;
    outline: auto;
}
.Input::placeholder {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    color: #8e8e8e;
}
.Input:focus::placeholder {
    text-align: start;
    border: #8e8e8e;
}
/* //header */

/* main */
.main {
    position: relative;
    top: 90px;
    background: #fafafa;
}
.main .article {
    display: flex;
    margin: auto auto;
}
/* //main */

/* left */
.left_content ul {
    list-style: none;
    padding-left: 0px;
}
.left_content {
    width: 665px;
    box-sizing: border-box;
    margin-left: 60px;
}
.left_content .feed_inner {
    position: relative;
}
.feeds_list .feeds_list2 {
    margin-bottom: 30px;
    border: 1px solid #dee2ed;
    border-radius: 4px;
    background: #fff;
}
.feed_profile .profile_img {
    width: 32px;
    height: 32px;
    border: 1px solid #fafafa;
    border-radius: 100%;
    margin: 10px 10px;
    float: right;
}
.feed_profile .profile {
    display: flex;
    align-items: center;
    float: left;
}
.profile_more_button .more_option_btn img{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 500px;
    margin-top: 15px;
}
.feed_profile .profile .profile-id{
    font-size: 14px;
    font-weight: bolder;
}
.feed_outline {
    width: 100%;
    height: 100%;
}
.feed_outline img {
    width: 100%;
}
.feeds_all .feed_icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.icon_list img {
    width: 26px;
    height: 26px;
    padding: 0 8px;
}
.icon_list {
    display: flex;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}
.bookmark_feed {
    display: flex;
    margin-right: 10px;
}
.feed_like_comment .profile_img {
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 0;
}
.people_info .all_people_like .user {
    font-size: 15px;
    margin-bottom: 14px;
    font-weight: bold;
}
.all_people_like .like_person {
    font-size: 15px;
    margin-bottom: 14px;
    font-weight: bold;
}

.story_all {
    font-size: 13px;
    margin-left: 12px;
}
.story_all .id {
    font-weight: bold;
}
.see_all_comments {
    font-size: 8px;
    margin-left: 11px;
    margin-top: 5px;
    color: #8b9196;
}

.comment-all {
    margin-left: 12px;
    font-size: 13px;
    margin-top: 5px;
}
.comment-id {
    font-weight: bold;
}

.feed_in_time {
    font-size: 6px;
    margin-left: 11px;
    color:#8b9196;
    margin-top: 6px;
    margin-bottom: 15px;
}

.comments_input .input_box .comments_box{
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 10px 10px;
}
.button_box .post_btn{
    position: absolute;
    background-color: rgb(255, 255, 255);
    border: none;
    right: 15px;
    bottom: 12px;
}
.button_box .post_btn .post {
    font-size: 15px;
    color: rgb(0, 153, 255);
}

/* right */
.recommend_list ul {
    list-style: none;
    padding-left: 0px;
}
.right_contents {
    position: fixed;
    width: 400px;
}
.aside_profile .profile .profile_img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 30px;
    
}
.aside_profile .profile_info {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
}
.aside_profile .profile_info .profile_id {
    display: inline-block;
    margin-left: 20px;
    font-weight: bolder;
    font-size: 17px;
}
.aside_profile .profile_info .profile_name {
    margin-left: -65px;
    margin-top: 20px;
    font-size: 15px;
    color: #8b9196;
}
